/* so i believe that this css will affect all the systems and i kinda 
understand the different screen size thing but for now im just going to do regular old css
and then we can add the differentiation*/


body{
}

.banner{
    shape-image-threshold: 1444pt;
    border-image-width: auto;
    background-color: #477903;
        /*the lighter option can be code background-color:#629d06; so we can test it*/
    background-size: 100%;


}

.banner_image{
    width: 1444pt;
}

.composite{
    border-image-width: auto;
}


h1{
    font-size: 72pt;
    font-family: 'lobster Two', cursive;
}

.list-inline{
    list-style: horizontal;
}
h3{
    font-size: 36pt;
    font-family: 'Lobster Two', cursive;

}