/* so i believe that this css will affect all the systems and i kinda 
understand the different screen size thing but for now im just going to do regular old css
and then we can add the differentiation*/


@media(Min width:750px) and (max width:1444px){
   .banner_image{
       width: 100%;
   } 
}

body{

    background-image:url('../images/confetti_PNG87007\ 1.png');
    background-repeat:no-repeat;
}

.banner{
    
    border-image-width: auto;
    margin: 0%;
    background-color: #477903;
    width: 100%;
    height: 275px;
    
        /*the lighter option can be code background-color:#629d06; so we can test it*/
 


}




.composite{
    border-image-width: auto;
}


h1{
    font-size: 48pt;
    font-family: 'lobster Two', cursive;
    text-align:center;
}

p{

}

nav{
    background-color:  #477903;
}

.pagenav{
    display: inline;
    font-family: 'lobster two', cursive;
    font-size: 32pt;
    color: white;
    padding-right: 12px;
    padding-left: 12px;
}

.push{

    margin-right: auto;
}
#horizontal-list{
    float:left;
    
}

#horizontal-list-right{
    float:right;
    display: inline;
    
}

li{
    
    display: inline;
}



h3{
    font-size: 36pt;
    font-family: 'Lobster Two', cursive;

}


.whatis{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 24px;
}

.whatishead{
 float:left;

}

.whatisbody{
    float: right;
    width: 60%;
    vertical-align: baseline;
}

.columns{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.col{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
    
    

}

.our{
    column-count: 2;
    
}

